/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;    padding: 0;
    border: 0;    font-size: 100%;
    font: inherit;    vertical-align: baseline;
}


/* CSS */

body {
        background-color: #e5e7eb;
}

.container {
    height: 100vh;
    display: grid;
    grid-template:  [row1-start] "header" 10vh [row1-end]
                    [row2-start] "main" 1fr [row2-end]
                    / 1fr;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8%;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    background-color: #f8fafc;
}

.main {
    display: grid;
    grid-template:  [row1-start] "mainBtn" 15% [row1-end]
                    [row2-start] "cards" 1fr [row2-end]
                    / 1fr;
    padding: 0 20%;
    background-color: #e5e7eb;
}

.mainBtn {
    grid-area: mainBtn;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn {
    border: none;
    background-color: #f9fafb;
    padding: 10px 40px;
    font-size: 28px;
    border-radius: 10px;
    font-weight: 500;
}

.addBtn:hover {
    background-color: #6b7280;
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
